<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--[name], [token], [ip]-->
  <appSettings>
    <add key="mybotservice:twitchbot:channelname" value="magischemango" />
    <add key="mybotservice:twitchbot:username" value="magicmangobot" />
    <add key="mybotservice:twitchbot:apitoken" value="3d0l8inrzdh894hacp5a8jd0905oww" />
    <add key="mybotservice:discordbot:apitoken" value="NTI4MTg2MTEzNTA5MTYzMDEx.DyTT4w.WLbPlB_A28u8MjfHMOy_Md7swk0" />
    <add key="mybotservice:hue:token" value="YgjRVC2y1vAxOMTBiNBVsrlLETg80ot8Jb0iBYIj" />
    <add key="mybotservice:hue:ip" value="192.168.178.25" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.13.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="StreamDBBotEntities" connectionString="metadata=res://*/Model.Entities.BotModels.csdl|res://*/Model.Entities.BotModels.ssdl|res://*/Model.Entities.BotModels.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=raspbx;user id=StreamUser;password=?6#)[#mwBXKfY`]b;persistsecurityinfo=True;database=StreamDBBot&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>