<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--[name], [token], [ip]-->
  <appSettings>
    <add key="mybotservice:hue:token" value="YgjRVC2y1vAxOMTBiNBVsrlLETg80ot8Jb0iBYIj" />
    <add key="mybotservice:hue:ip" value="192.168.178.25" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>